@model DongHo.Models.Library
@{
    ViewBag.Title = "Chỉnh sửa thư viện";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var username = User.Identity.IsAuthenticated ? User.Identity.Name : string.Empty;
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    <table class="TableUpdate" border="1">
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    @if (username == null || username == string.Empty)
                    {
                        <li><p class="uupdate" onclick="AlertErr()">Ghi lại</p></li>  
                    }
                    else
                    {
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                      
                    }
                    <li>@Html.ActionLink("Trở lại", "LibraryIndex","", new { @class="uback"})</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Nhóm thư viện</th>
            <td>@Html.DropDownList("GrLibrary")</td>
        </tr>
        <tr>
            <th>Tên thư viện</th>
            <td>@Html.TextBoxFor(m=>m.Name,"", new{@class="text"})</td>
        </tr>
        <tr>
            <th>Hình ảnh</th>
            <td>@Html.TextBoxFor(m=>m.Image,"", new{@class="text"})<input id="SelectImages" type="button" value="Chọn ảnh" class="bottom" /></td>
        </tr>
        <tr>
            <th>File đính kèm</th>
            <td>@Html.TextBoxFor(m=>m.File,"", new{@class="text"})<input id="SelectFile" type="button" value="Chọn file" class="bottom" /></td>
        </tr>
        <tr>
            <th>Nội dung</th>
            <td>@Html.TextArea("Info")</td>
        </tr>
        <tr>
            <th>Ưu tiên</th>
            <td>@Html.CheckBox("Priorities",(Model.Priority==1)?true:false)</td>
        </tr>
        <tr>
            <th>Kích hoạt</th>
            <td>@Html.CheckBox("Actives",(Model.Active==1)?true:false)</td>
        </tr>
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    @if (username == null || username == string.Empty)
                    {
                        <li><p class="uupdate" onclick="AlertErr()">Ghi lại</p></li>  
                    }
                    else
                    {
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                      
                    }
                    <li>@Html.ActionLink("Trở lại", "LibraryIndex","", new { @class="uback"})</li>
                </ul>
            </td>
        </tr>
    </table>
}
<script language="javascript" type="text/javascript">
    $(function () {
        $("#SelectImages").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Image").val(fileUrl);
            };
            finder.popup();
        });
        $("#SelectFile").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#File").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'Info');
    });
</script>