@model DongHo.Models.GroupNew
@{
    ViewBag.Title = "Tạo mới nhóm tin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
     <table class="TableUpdate" border="1">
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    @if (Request.Cookies["Username"] == null)
                    {
                        <li><p class="uupdate" onclick="AlertErr()">Ghi lại</p></li>  
                    }
                    else
                    {
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                      
                    }
                    <li>@Html.ActionLink("Trở về", "GroupNewIndex", new { @class="uback"})</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Tên nhóm tin</th>
            <td>@Html.TextBoxFor(model => model.Name, new { @class="text"})@Html.ValidationMessageFor(m=>m.Name)</td>
        </tr>
            <tr>
            <th>Tiêu đề</th>
            <td>@Html.TextBoxFor(model => model.Title, new { @class="text"})@Html.ValidationMessageFor(m=>m.Title)</td>
        </tr>
            <tr>
            <th>Miêu tả</th>
            <td>@Html.TextBoxFor(model => model.Description, new { @class="text"})@Html.ValidationMessageFor(m=>m.Description)</td>
        </tr>
        <tr>
            <th>Từ khóa</th>
            <td>@Html.TextBoxFor(model => model.Keyword, new { @class="text"})@Html.ValidationMessageFor(m=>m.Keyword)</td>
        </tr>
        <tr>
            <th>Thứ tự</th>
                <td>@Html.TextBoxFor(model => model.Ord, new { @class="text", @onkeypress="OnlyInputNumber(0)"})@Html.ValidationMessageFor(m=>m.Ord)</td>
        </tr>
        <tr>
            <th>Ưu tiên</th>
            <td>@Html.CheckBox("Priorities")</td>
        </tr>
        <tr>
            <th>Trang chủ</th>
            <td>@Html.CheckBox("Indexs")</td>
        </tr>
        <tr>
            <th>Active</th>
            <td>@Html.CheckBox("Actives")</td>
        </tr>
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    @if (Request.Cookies["Username"] == null)
                    {
                        <li><p class="uupdate" onclick="AlertErr()">Ghi lại</p></li>  
                    }
                    else
                    {
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                      
                    }
                    <li>@Html.ActionLink("Trở về", "GroupNewIndex", new { @class="uback"})</li>
                </ul>
            </td>
        </tr>
    </table>
}
<script>
    $(function () {
        $("#SelectImages").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#Image").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>

<script type="text/javascript">
    var editor;
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: languageCode
        });
    }

    $(function () {
        createEditor('vi', 'Content');
    });
</script>
