@{
    ViewBag.Title = "Quản lý Phiếu xuất";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>
@{Html.RenderAction("_Search", "Export");}
@using (Html.BeginForm("MultiDelete", "Export", FormMethod.Post))
{
    <div class="Control">
        <ul>
            <li>@Html.ActionLink("Thêm mới", "ExportCreate", "", new { @class = "vadd" })</li>
            <li><input type="submit" value="Xóa" class="mulDel" /></li>
            <li>@Html.ActionLink("Làm mới", "ExportIndex", "", new { @class = "vrefresh" })</li>
            <li><a class="vback" href="javascript:void(0);" onclick="window.history.go(-1);">Trở lại</a></li>
        </ul>
    </div>
    <table class="TableView" border="1" id="myTable">
        <tr class="trHeader">
            <th class="CheckBoxsmall"><input type="checkbox" onclick="Javascript: chkSelectAll_OnClick(this)" id="chkSelectAll" /></th>
            <th class="Text">Tên kho xuất</th>
            <th class="Text">Tên người xuất</th>
            <th class="Text">Tên khách hàng</th>
            <th class="Number">Tổng tiền</th>
            <th class="DateTimesmal">Ngày nhập</th>
            <th class="Function">Chức năng</th>
        </tr>
        @Html.Raw(ViewBag.View)
    </table>
    @Html.Raw(ViewBag.Pager)
    <div class="Control">
        <ul>
            <li>@Html.ActionLink("Thêm mới", "ExportCreate", "", new { @class = "vadd" })</li>
            <li><input type="submit" value="Xóa" class="mulDel" /></li>
            <li>@Html.ActionLink("Làm mới", "ExportIndex", "", new { @class = "vrefresh" })</li>
            <li> 
                <a class="vback" href="javascript:void(0);" onclick="window.history.go(-1);">Trở lại</a> 
            </li>
        </ul>
    </div>
}
