@model DongHo.Models.Member
@{
    ViewBag.Title = "MemberEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa thông tin tài khoản nhân viên</h2>
@using (Html.BeginForm())
{
    <table class="TableUpdate" border="1">
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    @if (Request.Cookies["Username"] == null || Request.Cookies["Username"]["Role"] == "0")
                    {
                        <li><p class="uupdate" onclick="AlertErr()">Ghi lại</p></li>  
                    }
                    else
                    {
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                    }
                    <li>@Html.ActionLink("Trở về", "MemberIndex","", new { @class="uback"})</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Tên nhóm</th>
            <td>@Html.DropDownList("GrMember"," === Chọn tên nhóm === ")</td>
        </tr>
        <tr>
            <th>Tên nhân viên</th>
            <td>@Html.TextBoxFor(m=>m.Name)</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Html.TextBoxFor(m=>m.Email)</td>
        </tr>
        <tr>
            <th>Tên đăng nhập</th>
            <td>@Html.TextBoxFor(m=>m.Username)</td>
        </tr>
        <tr>
            <th>Mật khẩu</th>
            <td>@Html.TextBoxFor(m=>m.Password, "", new { type="password"})</td>
        </tr>
        <tr>
            <th>Admin?</th>
            <td>@Html.CheckBox("Roles",(Model.Role==1)?true:false)</td>
        </tr>
        <tr>
            <th>Kích hoạt</th>
            <td>@Html.CheckBox("Actives",(Model.Active==1)?true:false)</td>
        </tr>
        <tr style="display:none">
            <th>Ngày tạo</th>
            <td>@Model.DateCreated</td>
        </tr>
        <tr style="display:none">
            <th>Ngày chỉnh sửa gần nhất</th>
            <td>@Model.DateModified</td>
        </tr>
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    @if (Request.Cookies["Username"] == null || Request.Cookies["Username"]["Role"] == "0")
                    {
                        <li><p class="uupdate" onclick="AlertErr()">Ghi lại</p></li>  
                    }
                    else
                    {
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                    }
                    <li>@Html.ActionLink("Trở về", "MemberIndex","", new { @class="uback"})</li>
                </ul>
            </td>
        </tr>
    </table>
}